[Unit]
Description=REST API service
After=network.target cloud-final.service
Wants=cloud-final.service

[Service]
Type=simple
User=webappuser
ExecStart=node /home/webapp/app.js
EnvironmentFile=/home/webapp/.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
