[Unit]
Description=REST API service
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
ExecStart=node /opt/webapp/app.js
EnvironmentFile=/opt/webapp/.env
Restart=on-failure

[Install]
WantedBy=cloud-init.target
