[Unit]
Description=REST API service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt
User=csye6225
Group=csye6225
ExecStart=/usr/bin/node /opt/app.js
EnvironmentFile=/opt/.env
Restart=always

[Install]
WantedBy=cloud-init.target
